.site-header {
  min-height: 80px;  // increase or decrease this
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-title {
  font-size: 1.5rem;  // default is around 1.25rem
}

.side-bar {
  width: 16.5rem;  // default is 16.5rem
}

.main {
  margin-left: 16.5rem;  // should match the sidebar width
}
