.side-bar {
  padding-left: 0;
  left: 0;
  width: 16.5rem;
}

#top.main {
  margin-left: 16.5rem !important;
}

.main-content-wrap {
  padding-left: 1rem;
}

.site-header {
  max-height: 5rem;
  height: 5rem;
  left: 0;
}

.main-header {
  height: 5rem;
}
